<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Student Management System {% endblock %}</title>

    {% load django_bootstrap5 %}
    {% bootstrap_css %}

</head>
<body>
    
    {% include 'header.html' %}

    <main class="pt-5">
        {% block content %}{% endblock %}
    </main>
    
    <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
    
    {% bootstrap_javascript  %}
    {% block pageJs %}{% endblock %}

</body>
</html>